@import '../../common/colors.scss';

.footer{
    background-color: $secondary-color;
    display:flex;
    height:90px;
    align-items: center;
    justify-content: center;
    color:$font-primary;
    flex-direction: column ;
    padding:20px;
}
